.AddForm {
    display:flex;
    flex-direction: column;
     justify-content:center; 
     width:55vw;
      margin:8vh 10vw;
    border-radius:6px; 
    border:2px solid #AAAFAA;
       background-color:#B5E2F1; 
       padding:3vw
}
.AddForm input{

border: 2px solid rgb(143, 143, 151);
padding: 2px;
margin: 3px
}

.buttonadditem{
    margin: 0 20px 0 35px;
    width: 16vw;
    height: 26px;
    background-color: white;
    border: 2px solid #308EFD;
    color:#308EFD;
    border-radius: 7px;
    margin: 20px 0 10px;
    
   
}

.buttonadditem:hover{
     background-color: #4CAF50; /* Green */
    color: white;
    border:#4CAF50;
}