/* @import url("https://allfont.net/allfont.css?fonts=deftone-stylus");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */

.apple {
  height: 65vh;
  width: 60vw;
  margin-left: 11vw;
  margin-top: 8vw;
}

.samsung {
  height: 60vh;
  width: 35vw;
  margin-left: 22vw;
  margin-top: 8vw;
}

.macbook {
  height: 70vh;
  width: 70vw;
  margin-left: 5vw;
  margin-top: 4vw;
}

.apple2 {
  height: 54vh;
  width: 33vw;
  margin-left: 23vw;
  margin-top: 8vw;
}

h2 {
  font-family: "Deftone Stylus";
  font-size: 2.4em;
  display: flex;
  justify-content: space-around;
  padding-top: 4vh;
}
