.apple {
  height: 90vh;
  width: 80vw;
  margin-left: 0vw;
  margin-top: 3vw;
}

.samsung {
  margin-left: 14vw;
  margin-top: 0vw;
}

.macbook {
  margin-left: -1vw;
  margin-top: 3vw;
}

.apple2 {
  height: 90vh;
  width: 55vw;
  margin-left: 12vw;
  margin-top: 5vw;
}
