.apple {
  height: 90vh;
  width: 80vw;
  margin-left: 0vw;
  margin-top: 3vw;
}

.samsung {
  margin-left: 14vw;
  margin-top: 0vw;
}

.macbook {
  height: 80vh;
  width: 80vw;
  margin-left: vw;
  margin-top: 3vw;
}

.apple2 {
  height: 70vh;
  width: 45vw;
  margin-left: 18vw;
  margin-top: 5vw;
}
