.Single-item-details{
    width: 28vw;
    padding-top: 10vh;
    margin:0 15vw;
    min-width: 100vh;
    border: 2px solid gainsboro;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


