/* .shoppingcart{
    border:2px;
    border-color: black;
    width:"58vw";
    height:'55vh';
    background-Color:'green';
} */


.check-out-items{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 53vw;
    height: 7vh;
    margin: 1vw;
    background-color: white;
    border-bottom: 2px solid #DCDCDC;
}


.check-out-items:first-child{
    padding-top: 10vh;
}


.check-out-items img{
    width: 6vh;
    height: 6vh;
    background-color: lightskyblue;
    margin: 0.5 2vw;

}


.ShoppingCart-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
