@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "Deftone Stylus";
  src: local("Deftone Stylus"), url(./fontzzz/DEFTONE.ttf) format("truetype");
}
body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbarcss {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(49, 128, 29);
  text-transform: uppercase;
  border-radius: 50px;
}

input {
  font-size: 1rem;
}
